body {
    font-family: 'Bangers', cursive;
    border: 4px dashed grey;
    margin-left: 20%;
    padding: 50px;
    width: 60%;
    margin-top: 100px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSmDswfcvGOSwFm4qIt6P7WezDZwQz4pVkfb6-PLQeaOdS7ELk9&usqp=CAU);
    /* background-repeat: no-repeat;
    background-size: cover; */
    color: aliceblue;

}